<body class="main-page">

  <div id='map'></div>
  <!-- <h1>All Posts </h1> -->
  <div class='allposts'>
    </br>
    <%@posts.each do |post|%>
      <%= link_to(post.location.gsub(/[A-Za-z']+/,&:capitalize), post_path(post), :class => 'location')%>
      <p class="content"><%= post.content.truncate_words(4) %></p>
      <p class="creation"><%=  'Created ' + time_ago_in_words(post.created_at) + ' ago' %></p>
    <%end%>
  </div>

  <%=link_to 'New Post', new_post_path, :class => 'new_post', remote: true%>

  <div class='write'>
    <textarea id='user_location' class="mirror1" placeholder="Prague, Brazil, Hong Kong..." style="display:none;"></textarea>
    <textarea id='user_content' class="mirror2" placeholder="Tell a story..." style="display:none;"></textarea>
  </div>
  <div id="post-form" style="display:none;"></div>
    <%= link_to "signout", destroy_user_session_path, :method => :delete, :class => 'signout' %>
  <script>
    data = <%=raw (@posts.to_json)%>
  </script>

</body>

<%= javascript_include_tag 'posts_map' %>
