<!DOCTYPE html>
<html>
  <head>
    <title>Travel Blog</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css' rel='stylesheet' />

    <%= csrf_meta_tags %>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  </head>
  <body>
    <ul>
      <li><a href='/posts'>HOME</a></li>
    </ul>

    <%= yield %>
    <%= link_to "signout", destroy_user_session_path, :method => :delete %>
  </body>
</html>
